body{
    background: #121214;
    display: flex;
    flex-direction: column;

    justify-content: center;
}

.header{
    justify-content: space-evenly;
    display: flex;
    width: 80%;

    margin-left: 2rem;
    margin-bottom: 6rem;
    
}

.HeaderButton{
    background: #212025;
    padding: .2rem 4rem;

    color: white;
    font: 200 .8rem Archivo;

    width: 50%;
    text-align: center;

    border: .2rem solid #121214;
}

#programacao-button a{
    text-decoration: none;
    color: white;
}
#design-button a{
    text-decoration: none;
    color: white;
}

#programacao-button:hover{
    background: #91ff8e;
    color: #212025;
    border: #212025;

    cursor: pointer;
    transform: scale(1.01);
    transition: 100ms;
}
#design-button:hover{
    background: #8257e6;
    color: #212025;
    border: #212025;

    cursor: pointer;
    transform: scale(1.01);
    transition: 100ms;
}
.main{
    margin: 2rem auto;

    display: flex;
    justify-content: center;
}

.welcome{
    text-align: center;
    color: white;
    font: 300 1.8rem Archivo;
}

.welcome h2{
    color: #91ff8e;
    font-size: 2rem;
}
.card{
    margin: 2rem auto;
    align-self: center;

    border: 2px solid #212025;
    border-radius: 20px;

    background: #212025;
    padding: 3rem;
    width: 70%;
}
.card p{
    font: 100 1.2rem Archivo;
    color: rgba(255, 255, 255, 0.692);
}
.card img{
    height: 6rem;
    border-radius: 50%;

    border: 4px solid #91ff8e;
}
.card-header{
    display: flex;
    align-items: center;

    padding-bottom: 1rem;
    border-bottom: .1rem solid #302f36;
    
}
.card-header-text{
    display: block;
    line-height: 1rem;
    font-family: Archivo;

    margin-top: 2rem;
    margin-left: 1rem;
    color: white;

    align-items: center;
}

.card-header-text strong{
    line-height: 2rem;
    font-size: 2rem;
}
.card-header-text p{
    font-weight: 300;
    font-size: 1.2rem;
}
.container{
    display: flex;
    flex-direction: column;

    justify-content: center;
}

#meus-projetos-tag{
    font: 700 3.4rem Archivo;
    text-align: center;

    color: white;
    margin-top: 6rem;
}

.portfolio h1{
    font: 300 2rem Archivo;
    color: #91ff8e;

    margin-left: 1rem;
}
.portfolio{
    display: flex;
    flex-direction: column;

    margin-top: 2rem;

    width: 100%;
}
.javascript{
    width: 100%;
}

.portfolio-cards{
    width: 100%;
    display: flex;

    background: #302f36;
    padding: 2rem 2rem;

    border-radius: 10px;
}
.portfolio-cards img{
    height: 10rem;
    border-radius: 1rem;
    border: 2px solid #302f36;
}

.portfolio-cards img:hover{
    transform: scale(1.1);
    transition: 300ms;
}

.react_js, .javascript, .phyton{
    margin-top: 2rem;
}

#more-img{
    margin-left: 2rem;
    width: 4rem;
    border: none;
}

.footer{
    margin-top: 8rem;
    bottom: 10px;

    display: flex;
    justify-content: center;
    background: #212025;

    font: 700 1.2rem Archivo;
    color: white;

    padding: 2rem;
}
.footer img{
    width: 12rem;
}

@media (min-width: 700px){
    .header{
        width: 100%;
        margin-left: 0;
    }
    .welcome{
        font-size: 3rem;
    }

    .welcome h2
    {
        font-size: 4rem;
    }

    .card{
        max-width: 800px;
    }
    .HeaderButton{
        font-size: 1.2rem;
    }
    .portfolio{
        margin-left: 4rem;
        max-width: 800px;
    }
    .portfolio h1{
        font-size: 3rem;
    }
    .portfolio-cards img{
        height: 20rem;
        border-width: 10px;
    }
    .card-header-text{
        line-height: 0.21rem;
    }
    .card-header-text strong{
        line-height: 0.21;
    }
}

@media (min-width: 1921px){
    .portfolio{
        margin: 2rem auto;
    }
}