html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: var(--background-color);
    display: flex;
    flex-direction: column;
}
a{
    font: 700 1.2rem Roboto;
    margin: 1rem;
    text-decoration: none;
    color: white;
}
a:active{
    outline: none;
    color: white;
    text-decoration: none;
}
.header{
    background: var(--card-color);
    margin: .2rem .6rem;
    padding: 2rem 2rem;
    line-height: 1rem;
    font: 700 .5rem Roboto;
    border-radius: .8rem;
}
.header h2 {
    margin: 1.9rem 0;
    color: var(--text-accentcolor);
    line-height: 0rem;
    font-size: 2.4rem;
}

.header h2 strong{
    font-size: 1rem;
}

.header p {
    font-size: .8rem;
    line-height: .6rem;
}


.card strong{
    color: var(--text-color);
    line-height: 60%;
    font-size: 1.2rem;
    font-weight: 700;
}

.card strong p{
    font-size: rem;
    color: darkgray;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#metas-list li{
    align-items: flex-end;
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid #f5f5f5;
    padding: 1rem;
    border-radius: .2rem;
}
#metas-list p {
    font-size: 1rem;
    text-align: end;
    padding: 0;
    margin: 0;
    line-height: .8;
}
#metas-list strong{
    line-height: 2rem;
}

#adicionar-button{
    transition: 300ms;
    background: var(--card-color);
    border: none;
    padding: 1rem;
    border-radius: .5rem;
    font: 700 2rem Roboto;
    margin: 1rem;
}

#adicionar-button:focus{
    transform: scale(1.05);
    opacity: 0.8;
    outline: none;
}

#adicionar-button:hover{
    cursor: pointer;
    transition: 300ms;
    background: #ff175c;
    border-radius: 3rem;
    color: white;
}