.sub {
    color: grey;
    margin-top: 5rem;
    font-size: 3rem;
    text-align: right;
}
.header{
    display: flex;
    justify-content: space-between;

    margin: 2rem 2rem;
}
.header img{
    width: 2rem;
}
#header-logo{
    width: 8rem;
}
.card-text{
    text-align: center;
}

.card-body-sub{
    text-align: left;
    color: grey;
    font-size: 3rem;
}

.card{
    border-radius: 20px;
    padding: 2rem 2rem;
}

.btn-success{
    margin-top: 10px;
    background-color: #63FFBF;
    color: rgb(46, 46, 46);
    border-radius: 20px;
    position: absolute;
    font-size: 2rem;
}
a:hover{
    text-decoration: unset;
}