.header{
    text-align: center;
    padding: 2rem 4rem;
}
.header img{
    width: 10rem;
}

.card{
    padding: 2rem 2rem;
    margin: 2rem 2rem;

    border: .2rem solid var(--light-color);
    border-radius: 1rem;

    box-shadow: 5px 10px var(--background-color);
    transition: 200ms;
}
.card:hover{
    transition: 200ms;
    box-shadow: 3px 5px var(--background-color);
    cursor: pointer;
}
.card img{
    width: 100%;
}
.card h1{
    text-align: end;
    font: 700 4rem Alata;
    font-size: 4rem;
}

.card h2{
    color: var(--subtitle-color);
    font: 300 2rem Alata;
    text-align: end;
}

.card button{
    border: none;
    background: none;

    font-size: 2rem;
    font-weight: 700;
}

#card-button{
    background: var(--accent-color);
    font: 700 4rem Alata;
}
#card-button:focus{border: none;
}
#card-button:hover{
    opacity: .8;
    transition: 200ms;
}

.footer{
    display: flex;
    justify-items: center;
}
.footer img{
    height: 2rem;
    margin: 2rem auto;
    transition: 200ms;
}
.footer img:hover{
    cursor: pointer;
    transition: 200ms;
    transform: scale(1.2);
}

@media (min-width: 700px){
    .card img{
        max-height: 500px;
    }
}